.anderson-form {
    background: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 320px;
  }
  
  .anderson-form form {
    text-align: left;
  }
  
  .anderson-form label {
    display: block;
  }
  
  .anderson-form input {
    display: block;
    margin: 5px 0 10px;
    padding: 5px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    width: 95%;
  }
  
  .anderson-form select {
    display: block;
    margin: 5px 0 10px;
    padding: 5px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    width: 95%;
  }

  .anderson-form button {
    background: #0d718d;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #064758;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
  }
  
  .anderson-form .error {
    color: red;
    margin: -5px 0 10px;
  }